.head{
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-align: center;
}
.details-cls{
    text-align: -webkit-center;
}
.rightColumn{
    width: 25%;
}
.rightColumnLoc{
    width: 24%;
}
.leftColumnId{
    padding: 29px;
}
.leftColumnName{
    padding: 19px;
}
.leftColumnMob{
    padding: 17px;
}
.cancelBtn{
    font-weight: bold; 
    color:red;
}
.submitBtn{
    font-weight: bold; 
    color:green; 
    margin-left:10px;
}
