.cancel-btn{
  font-weight: bold; 
  color:red;
}
.update-btn{
   font-weight: bold;
   color:Green;margin-left:10px;
}
.head{
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-align: center;
}
.container{
  text-align: -webkit-center;
}
.input-name{
  width: 25%;
}
.input-mob{
  width: 25%;
}
.ul-cls{
  padding-right: 25%;
}
.label-id{
  padding:32px;
}
.label-name{
  padding: 18px;
}
.loc-cls{
  width: 24%;
}
.label-mob{
  padding: 15px;
}
