
<p class="head">
  Edit Employee Details
</p>
<div class="container">
    <ul class="ul-cls">
      <label class="label-id"> ID: </label>
      <label > {{EmployeeData.id}} </label>
    </ul>    
    <ul>
      <label class="label-name">Name</label>
      <input class="input-name" type="text" [(ngModel)]="EmployeeData.name"/>
    </ul>
    <ul>
      <label>Location</label>
      <select class="loc-cls" [(ngModel)]="EmployeeData.location">
        <option *ngFor="let loc of LocList">
          {{loc}}
        </option>
      </select>
    </ul>
    <ul>
      <label class="label-mob">Mobile</label>
      <input class="input-mob" type="number" [(ngModel)]="EmployeeData.mobile"/>
    </ul>
    <ul> 
      <button (click)="Cancel()" class="cancel-btn" >Cancel</button>
      <button (click)="updateEmployee(EmployeeData)" class="update-btn" >Update</button>
    </ul>
   
  </div>
  
  
